version: '3.9'
services:
  backend:
    build:
      context: .
      dockerfile: OxygenBackend/QuizAPI/Dockerfile
    ports:
      - "5000:80"
    depends_on:
      - postgres
    environment:
      - ConnectionStrings__PostgresConnection=Host=postgres;Database=OxygenQuiz;Username=postgres;Password=123

  frontend:
    build:
      context: .   # since frontend Dockerfile is in repo root
      dockerfile: Dockerfile
    ports:
      - "3000:80"
    depends_on:
      - backend

  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: OxygenQuiz
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data

  mongodb:
    image: mongo:6
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

volumes:
  postgres-data:
  mongo-data:
